* {
    margin: 0px;
}

.Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
}

.Menu__container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

.Menu__container--itemsmains {
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: none;
    color: #00bdd6;
    font-weight: bold;
    border-bottom: 4px solid #00bdd6;
    margin: 0px 10px;
}

.Menu__container--items {
    padding: 10px;
    margin: 5px;
    border-bottom: none;
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
}

.Menu_items {
    padding: 5px;
}

.Menu_items--home {
    border-bottom: 4px solid #00bdd6;
}

.Menu__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Menu__search--items input {
    width: 330px;
    height: 40px;
    background-color: lightgray;
    outline: none;
    border: none;
}

.Menu__search--icons img {
    padding: 10px;
}

.Product__path {
    display: flex;
}

.Product__path--items {
    padding: 5px;
}

.Product_home {
    color: gray;
}

.Product_Category {
    color: gray;
}

.Product__header {
    font-size: 60px;
    font-weight: bold;
}

.Product__Evaluate {
    display: flex;
    padding: 2px;
}

.Product__picture {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px;
}

.Product__picture .Product__picture--center {
    display: grid;
    grid-template-rows: auto auto;
}

.Product__picture--right {
    display: grid;
    grid-template-rows: auto auto;
}

.test {
    background-color: red;
}